*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: InterVariable;
    src: url(../assets/InterVariable.woff2);
}

body {
    margin: 0;
    background-color: rgb(29, 30, 32);
    color: white;
}

body,
input,
select,
textarea,
button {
    font-family: InterVariable, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

#root {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 46px calc(100vh - 46px);
}

.main-wrapper {
    transition: 0.2s;
    display: grid;
    grid-template-columns: 0px 100vw;
}

.main-wrapper.sidebar-open {
    grid-template-columns: 288px calc(100vw - 288px);
}

header {
    display: flex;

    #hide-button {
        width: 30px;
        height: 30px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 6px;
        background-color: transparent;
        border: none;
        color: rgba(244, 244, 244, 0.9);
        margin: 8px 16px;
    }

    #input-box {
        background-color: rgba(244, 244, 244, 0.06);
        box-shadow: rgba(244, 244, 244, 0.09) 0px 0px 0px 1px inset;
        border-radius: 8px;
        border: none;
        color: white;
        outline: none;
        margin: 8px 0px;
        height: 32px;
        display: flex;
        align-items: center;
        padding-left: 6px;
        padding-right: 6px;
        margin-right: 16px;
        flex: 1;
    }

    #input-box svg {
        color: rgba(244, 244, 244, 0.65);
        height: 20px;
        width: 20px;
    }

    input {
        background-color: transparent;
        border: none;
        outline: none;
        color: white;
        padding-left: 6px;
        flex: 1;
    }

    input::placeholder {
        color: rgba(244, 244, 244, 0.35);
    }
}

.main-wrapper aside {
    transition: 0.2s;
    width: 0px;
    opacity: 0;
    z-index: -1;

    .feed-item {
        padding: 6px 8px;
        transition: 0.2s;
        border-radius: 6px;
        height: 32px;
        user-select: none;
        cursor: pointer;
        background-color: transparent;
        border: none;
        text-align: left;
        font-size: 13px;
        color: white;
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .feed-item.active {
        background-color: rgba(244, 244, 244, 0.09);
    }

    .feed-item span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 100%;
    }

    .feed-item .icon {
        border-radius: 6px;
        height: 20px;
    }

    .feed-item svg {
        height: 20px;
    }

    .feed-item:hover {
        background-color: rgba(255, 255, 255, 0.08);
    }

    .feed-item:active {
        background-color: rgba(255, 255, 255, 0.10);
    }
}

.main-wrapper.sidebar-open aside {
    width: 288px;
    display: block;
    padding: 8px;
    padding-top: 0px;
    opacity: 1;
    z-index: 1000;

    .feed-list {
        display: flex;
        flex-direction: column;
    }
}

main {
    padding: 20px;
    overflow: auto;
    scrollbar-color: #404040 transparent;

    #feed-content {
        .article {
            display: grid;
            grid-template-columns: 150px 20px calc(100% - 170px);
            align-items: left;
            margin-bottom: 10px;
            padding: 10px;
            border-radius: 6px;
            color: white;
            text-decoration: none;

            .headline {
                font-weight: bold;
                font-size: 16px;
            }

            .text {
                font-size: 13px;
                color: #bcb8b1;
                word-break: break-word;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                width: 100%;
            }

            .thumbnail {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 6px;
            }
        }

        .article:visited {
            color: #888888 !important;
        }

        .article:hover {
            background-color: rgba(255, 255, 255, 0.08);
        }

        .article:active {
            background-color: rgba(255, 255, 255, 0.10);
        }
    }

    .header {
        padding-left: 10px;

        h5 {
            padding-top: 4px;
            font-size: 14px;
            color: rgb(158, 158, 158);
        }

        select {
            background-color: #202020;
            border-radius: 8px;
            padding: 10px;
            border: none;
            color: white;
            outline: none;
        }
    }

    .content {
        padding: 10px;

        input {
            background-color: #202020;
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
            padding: 10px;
            border: none;
            color: white;
            outline: none;
        }

        input::placeholder {
            color: #333;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }

        button {
            background-color: #202020;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            padding: 10px;
            border: none;
            color: white;
        }
    }
}

.dateMarker {
    padding: 10px;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 700;
    color: rgb(158, 158, 158);
}

@media screen and (max-width: 600px) {
    .main-wrapper.sidebar-open {
        grid-template-columns: 0px 100vw;

        aside {
            position: fixed;
            top: 0px;
            left: 0px;
            height: 100vh;
            width: 288px;
            z-index: 1000;
            margin-top: 46px;
            background-color: rgb(29, 30, 32);
        }

        main {
            width: 100vw;
        }
    }
}